.sidebar {
  position: fixed;
  width: 150px;
  border-right: 0.5px solid lightgray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #120e0e;
  color: #ffffff;

  .top {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 3rem;
      font-weight: 900;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 2rem 0rem;
        .active {
          .icon_container {
            .icon {
              color: #0a95ff;
            }
            p {
              color: #ffffff;
              font-size: 1rem;
            }
          }
        }
        .icon_container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            color: #999595;
            font-size: 0.8rem;
          }
        }
        .icon {
          cursor: pointer;
          font-size: 3rem;
          color: #999595;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 1rem 0rem;
        .profile_image {
          cursor: pointer;
          height: 70px;
          width: 70px;
          object-fit: cover;
          border-radius: 10rem;
        }
        .icon_container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            color: #999595;
            font-size: 0.8rem;
          }
        }
        .icon {
          cursor: pointer;
          font-size: 3rem;
          margin-left: 0.7rem;
          color: #999595;
        }
      }
    }
  }
}
